@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


@theme{
    --color-dark-green:#125b50;
    --color-light-green: #45ad82;
    --color-dark:#18222b;
    --color-green: #0e7f6c;
    --color-black:#19171b;
    --color-gold:#dea314;
    --color-gold-2:#9e8123;
    --color-main:#04e4d8;
    --color-main-light:#7feddf;
    --color-my-stroke: linear-gradient(90deg, rgba(16, 169, 230, 1) 0%, rgba(14, 228, 240, 1) 50%, rgba(5, 39, 48, 1) 100%)

    --font-heading-Poppins : "Poppins",
        sans-serif;
    --font-heading-Montserrat : "Montserrat",
        sans-serif;
    --font-heading-Space-Grotesk : "Space Grotesk",
        sans-serif;
    --font-para-Inter : "Inter",
        sans-serif;
    --font-para-Lato:"Lato",
        sans-serif;
    --font-para-Roboto:"Roboto",
        sans-serif;
}

@font-face {
    font-family: NeueRegular;
    src: url("../public/Font/Neue\ Machina/NeueMachina-Regular.oft");
}


body{
    font-family: "Roboto",
        sans-serif;
}